@model Achados_e_Perdidos_Prototipo.Models.ItemsMapa
@{
    ViewBag.Title = "AchadosPerdidos";
}

<script src="~/Scripts/js/markerclusterer.js"></script>
<script src="~/Scripts/js/mapaPerdiEncontrei.js"></script>
<script src="~/Scripts/js/jquery-ui.custom.min.js"></script>
<link href="~/Content/paginastilo.css" rel="stylesheet" />

<section class="section offset-header">

    <div class="container">



        <!--filtro-->
        <div style="float:right">

            <form class="form-horizontal">

                <div class="control-group">
                    <label class="control-label" for="selectbasic">Categoria</label>
                    <div class="controls">

                        @using (Html.BeginForm())
                        {

                            @Html.DropDownList("Categoria", ViewBag.idCategoria as SelectList, "Escolha a Categoria...", new { @class = "form-control" })

                        }

                    </div>

                </div>
            </form>



            <label class="control-label" for="selectbasic">SubCategoria</label>

            <div style="width: 300px">
                <select id="subCategoria" class="form-control">
                    <option>Escolha a Subcategoria...</option>
                </select>

            </div>


            <label class="control-label" for="selectbasic">Complemento</label>

            <div style="width: 300px">
                <select id="DescricaosubCategoria" class="form-control">
                    <option>Complemento...</option>
                </select>

            </div>

            <br />
            <br />


            <div class="btns">


                <button type="button" id="btnAplicarFiltro" name="btnAplicarFiltro" value="Filtrar" class="btn btn-cta-primary scrollto">Filtrar</button>



                <button type="button" id="btnCancelar" name="btnCancelar" value="Cancelar" class="btn btn-cta-primary scrollto" style="background-color:chocolate">Cancelar</button>


            </div>


            <br />
            <br />

        </div>
        <!--fimfiltro-->

        <!--mapa-->
        <div style="float:left">

            <form method="post" class=" form-search">

                <div class="input-append">

                    <label class="control-label" for="selectbasic">
                    Veja se alguém já cadastrou o item perdido e entre em contato. Ou clique no botão
                    </label>

                    <a class="btn btn-cta-secondary scrollto" @Html.ActionLink("Cadastrar", "Encontrei", "Home")</a>

                </div>

                <!-- Este é o div que conterá o mapa do Google -->
                <div id="map_canvas" class="container" style="height: 400px; width: 600px"></div>

                <br />
                <br />
                <br />
        
                <!-- Este css é garantir que o mapa do Google ( contols zoom bar etc) mostram e tamanho corretamente. -->
                <style>
                    #map_canvas {
                        margin-top: 10px;
                    }
                </style>

                <!-- Este css é dar um bom pop-up grande " janela de informações " quando um marcador é clicado no mapa -->
                <style>
                    .infoDiv {
                        height: 100px;
                        width: 200px;
                        -webkit-user-select: none;
                        background-color: white;
                    }
                </style>

                <style>
                    .CamposPropriedade {
                        color: chocolate;
                    }
                </style>
            </form>
        </div>

    </div>

    <!--fim mapa-->


</section>

<script src="http://maps.google.com/maps/api/js?sensor=true"></script>

<script type="text/javascript">

    $(document).ready(function () {
        Initialize("Encontrados");
    });

    btnAplicarFiltro.onclick = function () {

        if ($('#Categoria').val() == 0) {

            alert("Por favor, selecione um item que deseja pesquisar ;))")

        }
        else {
            Initialize("Encontrados-" + $('#Categoria').val() + "-"
						+ $('#DescricaosubCategoria').val());
        }
        //Initialize("Encontrados-" + $('#Categoria').val() + "-"
        //			+ $('#SubCategoria').text());


    }

    btnCancelar.onclick = function () {

        Initialize("Encontrados");
    }

    // Onde toda a diversão acontece
    function Initialize(tipo) {

        // Google já preparou sua interface um pouco - diz ao api para usar essa nova interface
        google.maps.visualRefresh = true;

        var PosicaoInicial = new google.maps.LatLng(-15.834550776033826, -45.46140078124985);

        // Estas são opções que definem o nível de zoom inicial, onde o mapa está centralizado a nível mundial para começar, e do tipo de mapa para mostrar
        var mapOptions = {
            zoom: 4,
            center: PosicaoInicial,
            mapTypeId: google.maps.MapTypeId.G_NORMAL_MAP
        };

        // Isso faz com que o div com id " map_canvas " um mapa do Google
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);

        $.getJSON("/Home/GetItemMapa?tipoItems=" + tipo, function (data) {
            console.log(data);


            var Arraydata = [];
            //você pode fazer -se um lado do servidor lista JSON, ou chamá-lo de um controlador usando JsonResult

            for (var i = 0; i < data.length; i++) {
                console.log("estou dentro");

                Arraydata.push({
                    "Id": data[i].idItem, "Categoria": data[i].Categoria,
                    "SubCategoria": data[i].SubCategoria, "Contato": data[i].email,
                    "GeoLong": data[i].Longitude, "GeoLat": data[i].Latitude, "Nome": data[i].Nome,
                    "Sobrenome": data[i].Sobrenome, "Tel": data[i].Tel, "Celular": data[i].Celular
                });
            }

            var markers = [];

            // Usando o JQuery " cada " seletor para percorrer a lista de JSON e soltar os pinos do marcador
            $.each(Arraydata, function (i, item) {
                var marker = new google.maps.Marker({
                    'position': new google.maps.LatLng(item.GeoLong, item.GeoLat),
                    'map': map,
                    'animation': google.maps.Animation.DROP,
                    'title': item.Categoria



                });

                marker.addListener('click', toggleBounce);

                if (item.Categoria == "Animais")
                {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')
                }
                else if (item.Categoria == "Documentos") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/red-dot.png')
                }
                else if (item.Categoria == "Jóias") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/pink-dot.png')
                }

                else if (item.Categoria == "Livros") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/yellow-dot.png')
                }

                else if (item.Categoria == "Eletrônicos") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/orange-dot.png')
                }

                else if (item.Categoria == "Ingressos") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/purple-dot.png')
                }

                else if (item.Categoria == "Roupas") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/blue-dot.png')
                }

                else if (item.Categoria == "Bolsas e Malas") {
                    marker.setIcon('http://maps.google.com/mapfiles/ms/icons/ltblue-dot.png')
                }


                // Faça o marcador azul -pin !
                //marker.setIcon('http://maps.google.com/mapfiles/ms/icons/green-dot.png')

    
       

                // colocar em algum informações sobre cada objeto JSON 
                var infowindow = new google.maps.InfoWindow({
                    content: "<div class='infoDiv'><h4>" + item.Categoria
						+ "</h4>" + "<div><h6 class ='CamposPropriedade'> " + item.SubCategoria
						+ "</h6>" + "<div><h6 class ='CamposPropriedade'>Contato: " + item.Contato
						+ "<div><h6 class ='CamposPropriedade'>Nome: "
						+ item.Nome + " </h6></div></div>"
                });

            
                markers.push(marker);

                // finalmente ligar um " OnClick "  aparece fora info- janela quando o marcador de pino é clicado !
                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });

                function toggleBounce() {
                    if (marker.getAnimation() !== null) {
                        marker.setAnimation(null);
                    } else {
                        marker.setAnimation(google.maps.Animation.BOUNCE);
                    }
                }

            })

            var markerCluster = new MarkerClusterer(map, markers);

        });


    }


    $("#Categoria").change(function () {

        $("#DescricaosubCategoria").empty();
        $("#subCategoria").empty();
        if ($('#Categoria option:selected').text() != "Escolha a Categoria...") {

            var idCategoria = $(this).val();
            $.getJSON("/Home/GetsubCategoria?categoria=" + idCategoria, function (data) {
                $("#subCategoria").empty();
                $("#DescricaosubCategoria").empty();
                console.log(data);

                $("<option name='subCategoria' value='" + 0 + "'>" + "Escolha a Subcategoria..." + "</option><br>")
					.appendTo("#subCategoria");

                $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
					.appendTo("#DescricaosubCategoria");

                for (var i = 0; i < data.length; i++) {
                    console.log("estou dentro");
                    $("<option name='subCategoria' value='" + data[i].idSubCat + "'>" + data[i].SubCatego + "</option><br>")
						.appendTo("#subCategoria");
                }
            });

        }
        else {

            $("<option name='subCategoria' value='" + 0 + "'>" + "Escolha a SubCategoria..." + "</option><br>")
				.appendTo("#subCategoria");

            $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
				.appendTo("#DescricaosubCategoria");

        }


    });

    $(function () {

        $("#subCategoria").change(function () {

            $("#DescricaosubCategoria").empty();

            if ($('#subCategoria option:selected').text() != "Escolha a SubCategoria...") {

                //Essa linha captura o texto selecionado na combo.
                var idSubCat = $('#subCategoria option:selected').text();

                $.getJSON("/Home/GetDescricaosubCategoria?subcategoria=" + idSubCat, function (data) {
                    $("#DescricaosubCategoria").empty();
                    console.log(data);

                    $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
						.appendTo("#DescricaosubCategoria");
                    for (var i = 0; i < data.length; i++) {
                        console.log("estou dentro");
                        $("<option name='DescricaosubCategoria' value='" + data[i].idDescricao + "'>" + data[i].Descri + "</option><br>")
							.appendTo("#DescricaosubCategoria");
                    }
                });

            }
            else {

                $("<option name='DescricaosubCategoria' value='" + 0 + "'>" + "Complemento..." + "</option><br>")
					.appendTo("#DescricaosubCategoria");

            }


        });
    });


</script>
